.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 75px;
    background-color: #f4f6f9;
    width: 200px;
    z-index: 100;
    padding-top: 10px;
    border-right: 1px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-color: lightgray;
    border-style: solid;
}


.sidebar-link {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(80, 80, 80);
    font-size: 20px;
}

.sidebar-img {
    height: 30px;
    margin-right: 10px;

}

.sidebar button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: left;
    width: 100%;
    padding: 0;
}

.sidebar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(80, 80, 80);
    width: 100%;
}

.sidebar-link {
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 20px;
}

.sidebar-link:hover {
    background-color: rgba(154,179,251,0.5);
    border-radius: 10px;
}

.sidebar-img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
