.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 75px;
    background-color: #f4f6f9;
    width: 200px;
    z-index: 100;
    padding-top: 10px;
    border-right: 1px solid lightgray;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
}

.sidebar-link {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    cursor: pointer;
    display: block;
    flex-direction: row;
    align-items: center;
    color: rgb(80, 80, 80);
    font-size: 20px;
    transition: 0.3s;
    text-decoration: none;
}

.sidebar-link:hover {
    background-color: #e0e0e0;
    color: rgb(50, 50, 50);
}

.sidebar-img {
    height: 30px;
    margin-right: 10px;

}

body button.openbtn {
    background-color: transparent;
    margin: 0;
}

body button.closebtn{
    margin-bottom: 0;
    align-self:flex-end;
    padding: 0;
    font-size: x-large;
    color: black;
    background-color: transparent;
}

body button.closebtn:hover{
    color: #3b90d5;
    background-color: transparent;
}

nav .closebtn-block{
    display: flex;
    justify-content: flex-end;
}

nav #sidebar-content{
    display: block;
    padding-left: 10px;
}