/* Profile Details Section */
.profile-details {
    background-color: white;
    padding: 15px; 
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.profile-detail-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 15px; 
}

.profile-detail-element {
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px; 
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05); 
}

.profile-detail-element h3 {
    margin-bottom: 10px; 
    font-size: 1.2em; 
    color: #333;
}

.profile-detail-element p {
    font-size: 1em; 
    color: #666;
}

/* dark mode */
body.dark-mode .profile-details {
    background-color: #1f1f1f;
    color: #ffffff;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
}

body.dark-mode .profile-detail-grid {
    gap: 15px;
}

body.dark-mode .profile-detail-element {
    background-color: #333;
    color: #ffffff;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.1);
}

body.dark-mode .profile-detail-element h3 {
    color: #ffffff;
}

body.dark-mode .profile-detail-element p {
    color: #cccccc;
}