/* Settings Page Styles */
.settings-info {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin: 20px 0 20px 50px;
    max-width: 1000px;
    position: relative;
}

body.dark-mode .settings-info {
    background-color: #1f1f1f; /* Dark background */
    color: #ffffff; /* White text */
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1); /* Softer shadow for dark mode */
}

.settings-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.settings-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

body.dark-mode .settings-item {
    border-bottom: 1px solid #444; /* Dark border */
}

.settings-item:last-child {
    border-bottom: none;
}

.settings-item label {
    font-size: 1.2em;
    color: #333;
}

body.dark-mode .settings-item label {
    color: #ffffff; /* White text in dark mode */
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

body.dark-mode select {
    background-color: #333; /* Dark mode background */
    color: white;
    border: 1px solid #555; /* Darker border */
}
